<div class="masonry">
	{% for i in (1..3) %}
		<div class="item item-full">
		  <img src="assets/img/img{{ i }}@1024.jpg"
					 sizes="95vw"
			     srcset="assets/img/img{{ i }}@640.jpg 640w,
			             assets/img/img{{ i }}@1024.jpg 1024w">
		</div>
	{% endfor %}
	{% for i in (4..13) %}
		<div class="item">
		  <img src="assets/img/img{{ i }}@640.jpg"
					 sizes="(min-width: 550px) 95vw, 50vw"
					 srcset="assets/img/img{{ i }}@640.jpg 640w,
									 assets/img/img{{ i }}@1024.jpg 1024w">
		</div>
	{% endfor %}
</div>
