<div class="masonry">
   <div class="item"><img src="assets/img/image1.jpg" /></div>
   <div class="item item-full"><img src="assets/img/image2.jpg" /></div>
   <div class="item"><img src="assets/img/image3.jpg" /></div>
   <div class="item"><img src="assets/img/image4.jpg" /></div>
   <div class="item item-full"><img src="assets/img/image5.jpg" /></div>
   <div class="item"><img src="assets/img/image6.jpg" /></div>
   <div class="item"><img src="assets/img/image7.jpg" /></div>
   <div class="item"><img src="assets/img/image8.jpg" /></div>
   <div class="item"><img src="assets/img/image9.jpg" /></div>
</div>
