<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
  {% include analytics.html %}
</head>

<body class="{{ page.layout }}">
	<div class="header">
		<div class="title">Spiragården</div>

		  <div class="navbar">
        <ul>
          <li><a href="/">Om oss</a></li>
          <li><a href="/permaculture">Permaculture</a></li>
        </ul>
		  </div>
	</div>
