<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<link rel="icon" href="assets/img/icon@512.png" type="image/png" sizes="512x512">
  <link rel="stylesheet" href="assets/css/style.css">

	<link href="https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i|Satisfy" rel="stylesheet">

  {% include analytics.html %}
</head>

<body class="{{ page.layout }}">
	<div class="header">
		<img class="logo" src="assets/img/flower.svg" alt="Flower logo">
		<div class="title">Spiragården</div>
	</div>
  <ul class="navbar navbar-{{ page.navId }}">
    <li class="item"><a href="index" class="text home">Om Gården</a></li>
    <li class="item"><a href="hitta" class="text findus">Hitta hit</a></li>
  </ul>
