<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
  {% include analytics.html %}
</head>

<body class="{{ page.layout }}">
	<div class="header">
		<div class="upper">
			<img class="logo" src="assets/img/flower.svg" alt="Flower logo">
			<div class="title">Spiragården</div>
		</div>

    <ul class="navbar navbar-{{ page.id }}">
      <li class="item"><a href="index" class="text">Om oss</a></li>
      <li class="item"><a href="findus" class="text">Hitta hit</a></li>
    </ul>
	</div>
