
body {
  font: 400 16px/1.5 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
	margin: 0;
	padding: 0;

	background-color: #fff;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -.02em;
  margin-bottom: .5em;
	font-family: 'Satisfy', cursive;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
	font-family: 'Satisfy', cursive;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
	font-family: 'Satisfy', cursive;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
	font-family: 'Satisfy', cursive;
}

h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.lead-graf {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.micro {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* link styles */

a {
  text-decoration: none;
  color: #2D86FB;
}

a:hover {
  color: #2D86FB;
}

/* other text styles */

p, ul, ol {
  font-weight: 400;
}

li {
  padding: 4px 0;
  text-align: left;
}

.no-style-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Header and Navigation */
/* -------------------------------------------------------------------------- */


.header {
	background-color: #5a544b;
	background-image: url('../img/bg@10x.jpg');
	background-image: -webkit-image-set(url('../img/bg@10x.jpg') 1x, url('../img/bg@20x.jpg') 2x);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	max-width: 800px;
	height: 313px;
	margin: auto;
}

.header .title {
	font-family: 'Satisfy', cursive;
	font-size: 48px;

	text-align: center;
	position: absolute;
	top: 104px;
	left: 0;
	right: 0;

	color: #fff;
	text-shadow: 0 0 10px black, 0 0 5px black;
}

.header .logo {
  width: 173px;
  display: block;
	margin: auto;

	position: absolute;
	top: 64px;
	left: 0;
	right: 0;
}

.navbar {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  background: #6FCF97;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar .item {
	display: inline-block;
	list-style-type: none;
	/* margin: 10px 30px; */
}

.navbar .item .text {
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	margin: 10px 30px;
	display: inline-block;
}

.navbar-home .home {
	text-decoration: underline;
}

.navbar-findus .findus {
	text-decoration: underline;
}

.content {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}


.masonry {
  margin: 0;
  padding: 0;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
  font-size: 0;
}

.masonry .item {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.masonry .item img {
	width: 100%;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}



/* Media Queries */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 980px)  {
  .navbar .nav > li > a { text-decoration: none; margin-left: 25px; }
  .navbar .nav > li > a:focus { text-decoration: underline; }
  .navbar .nav > li > a:hover { color: #2D86FB; text-decoration: underline; }
}

@media only screen and (max-width: 979px)  {
  .no-mobile { display: none !important; }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
  body { padding: 0; }
  img { width: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 649px) {
  body { padding: 0; }
  h1, h2, h3 { line-height: 1.2em; }
  a { word-wrap: break-word; }
}
