
body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
	margin: 0;
	padding: 0;

	background-color: #f7f7f7;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -.02em;
  margin-bottom: .5em;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
}

h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.lead-graf {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.micro {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* link styles */

a {
  text-decoration: none;
  color: #2D86FB;
}

a:hover {
  color: #2D86FB;
}

/* other text styles */

p, ul, ol {
  font-weight: 400;
}

li {
  padding: 4px 0;
  text-align: left;
}

.no-style-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Header and Navigation */
/* -------------------------------------------------------------------------- */


.header {
	background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
}

.header .title {
	font-family: 'Amatic SC', cursive;
	font-size: 72px;

	line-height: 200px;
	text-align: center;

	color: #fff;
}

.navbar {

}

.navbar .item {
	display: inline-block;
	list-style-type: none;
	margin: 10px 30px;
}

.navbar .item .text {
	color: #fff;
	text-shadow: 0px 1px 6px black;
	font-weight: 300;
	font-size: 27px;
	font-family: 'Amatic SC',cursive;
}

.content {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Media Queries */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 980px)  {
  .navbar .nav > li > a { text-decoration: none; margin-left: 25px; }
  .navbar .nav > li > a:focus { text-decoration: underline; }
  .navbar .nav > li > a:hover { color: #2D86FB; text-decoration: underline; }
}

@media only screen and (max-width: 979px)  {
  .no-mobile { display: none !important; }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
  body { padding: 0; }
  img { width: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 649px) {
  body { padding: 0; }
  h1, h2, h3 { line-height: 1.2em; }
  a { word-wrap: break-word; }
}
